html {
  tab-size: 4;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: fixed;
}

body > div:first-of-type {
  height: 100%;
  min-height: 100%;
}
